* {
  box-sizing: border-box;
  text-align: left;
  overflow-x: hidden;
  cursor: none;

}
/*body{*/
/*  overflow-y: hidden;*/
/*}*/
#loading-div {
  width: 100vh;
  height: 100vh;
  /*justify-content: center;*/
  background-color: #000000;
  display: block;
  /*horiz-align: center;*/
  /*vertical-align: middle;*/
  /*color: #000000;*/
  overflow: hidden;
  text-align: center;
}
#loading-div::before {
  display: inline-block;
  vertical-align: middle;
}

:lang(en) {
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
}

:lang(ch) {
  font-family: PMingLiU;

}
:root {
  --scale: 1.5;
  --y: 0;
  overflow: hidden;
}
:root body {
  position: relative;
  width: 100%;
  /*font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;*/
  /*font-weight: bold;*/
  font-size: 0.875rem;
  overflow: scroll;
  color: #ffffff;
  margin: 0;
  /*background-color: black;*/
  outline: none;
  border: none;
}
:root body #wrapper {
  width: 100vw;
  height: 100vh;
}
:root body #wrapper #image {
  width: 100vw;
  height: 100vh;
  background-color:black;
  /*background-image: url("https://images.unsplash.com/photo-1539035104074-dee66086b5e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=2550&q=80");*/
  background-size: cover;
  transform: translateX(var(--x)) translateY(var(--y)) scale(var(--scale));
  transition: ease-out 0.7s;
}
.back{
  z-index: 5;
  background-color: black;
  width: 100%;
  position: fixed;
  marhin:0;
  height:25vh;
}
.btn{
  z-index: 6;
  /*width:100%*/
  position: absolute;
  margin-left: .5vh;
  margin-top: .5vh;
}


.indiv_btn{
  position: relative;
  margin-right: 20px;
  font-size: 25vh;
  text-transform: uppercase;
}

.indiv_btn_indi{
  position: relative;
  margin-right: 20px;
  font-size: 2vh;
  text-transform: uppercase;
}

.indiv_btn_project{
  position: relative;
  margin-right: 20px;
  font-size: 7vh;
  text-transform: uppercase;
  overflow-y: hidden;
}
.title-desc{
  font-size: 2vh;

}
a:link { text-decoration: none;color: white }


a:visited { text-decoration: none;
  color: white }


a:hover { text-decoration: none;
  /*!*color: #00ff59*! F3EC78FF AF4261FF*/
  /*color: linear-gradient(#ddff00, #00ff80, #001180)*/
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, rgb(0, 255, 208), #ff0080);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}


a:active { text-decoration: none; color: white }

/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
body {
  background: #000;
  font-family: 'Open-Sans',sans-serif;
}
p2{
  font-size: xx-small;
}
#tag {
  /*width: 50%;*/
  left:0;
  color: white;
  position: absolute;
  display: none;
  opacity: .85;
  border-radius:2px;
  border:1px solid white;
  padding:3px 6px;
}
.svg-container {
  width: 50%;
  overflow: hidden;
  margin-top: 350px;
  position: relative;
}
.node {
  cursor: pointer;
}
.edge {
  fill: none;
  stroke: #657b83;
  stroke-width: .75px;
}

.paragraphs{
  z-index: 1;
  width: 45vw;
  right: 5vw;
  margin-top: 350px;
  position: absolute;
  color: #6c6c6c;
  overflow: hidden;
}

svg.chart-wrap {
  background-color: #000000;
  border-color: white;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;

}

.year{
  background-color:rgba(0,0,0,0);
  margin: auto;
  width: 100%;
  color: #565656;

  alignment: center;
  text-align: center;
  z-index: 10;
  /*margin: auto;*/
  /*left: 40vw;*/
  position: fixed;
  bottom: 10vh;
}


/*project page*/
a.snapchat {
  position: relative;
  /*background: lightgrey;*/
}

a.snapchat img {
  position: absolute;
  z-index: 10;
  opacity: 0;
  width: 15vh;
  height: 15vh;
  left: 15vh;
  top: -16vh;
  transition: opacity .5s, top .5s;
}

a.snapchat:hover img {
  opacity: 1;
  top: 20px;
}

hr.solid {border-top: 0.25px solid rgb(255, 255, 255);}

